.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

.dashboard .filter .icon{
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus{
    color: #4154f1;
}

.dashboard .filter .dropdown-header{
    padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

.dashboard .filter .dropdown-item{
    padding: 8px 15px;
}

.dashboard .date-range-display {
    font-size: 20px;
    font-weight: 500;
    color: #4154f1;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #f4f6fb;
    border-radius: 5px;
}