.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

.dashboard .filter .icon{
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus{
    color: #4154f1;
}

.dashboard .filter .dropdown-header{
    padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

.dashboard .filter .dropdown-item{
    padding: 8px 15px;
}

.subpoints {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-left: 30px;
    margin-top: -10px; /* Adjust margin for better alignment */
    flex-wrap: wrap; /* Allow wrapping if needed */
}

.subpoints .card {
    flex: 1 1 auto; /* Flex-grow and flex-shrink to auto size */
    background-color: #f9f9f9; 
    border-left: 4px solid #007bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.highlight-card .card {
    border: 2px solid #007bff; /* Highlight border */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Subtle shadow to make it stand out */
    transition: all 0.1s ease-in-out; /* Smooth transition */
} 
