.dashboard .recent-sales{
    font-size: 14px;
}

.dashboard .recent-sales .table thead{
    background: #f6f6fe !important;
}

.dashboard .recent-sales .table thead th{
    border: 0;
}

.dashboard .recent-sales .dataTable-top{
    padding: 0 0 10px 0;
}

/* .dashboard .recent-sales .dataTable-bottom{
    padding: 10px 0 0 0;
}

.dashboard .recent-sales .see-all-container {
    text-align: right;
    margin-top: 10px;
}

.dashboard .recent-sales .see-all-container .see-all-button {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dashboard .recent-sales .see-all-container .see-all-button:hover {
    background-color: #0056b3;
    color: #fff;
} */